In [3]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 /2

0.5

2 ** 4 is 2 to the power of 4 2^4

In [8]:
2 ** 4

16

In [9]:
2 + 3 * 5 + 5

22

Use parethesis for order

In [11]:
(2 + 3) * (5 + 5)

50

In [12]:
5 % 2

1

modulo

In [13]:
var = 2

In [14]:
var

2

In [15]:
x = 2

In [16]:
y = 3

In [17]:
x + 2

4

In [18]:
x + x

4

In [20]:
x + x

4

In [22]:
x = x + x

In [23]:
x

8

reassigns x

In [24]:
12var = 12

SyntaxError: invalid syntax (<ipython-input-24-72e2c0241394>, line 1)

syntax error if variable name starts with number

In [25]:
this_is_the_var_12 = 12

correct python syntax for multi worded var name above

In [26]:
# Strings

comment above

In [27]:
'single quote'

'single quote'

In [29]:
"double quote string"

'double quote string'

In [30]:
x = 'hello'

In [31]:
x

'hello'

In [32]:
print(x)

hello

officially printing values in python

In [34]:
num = 12
name = 'Sam'

In [36]:
'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is Sam'

python will read format for order and interpolate it

In [37]:
print("'My number is {} and my name is {}'.format(num, name)")

'My number is {} and my name is {}'.format(num, name)

In [39]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [40]:
print('My number is {one} and my name is {two}'.format(one=num, two=name))

My number is 12 and my name is Sam

if there not in the original order you'd like... do the above

In [41]:
print('My number is {one} and my name is {two}, more {one}, {two}'.format(one=num, two=name))

My number is 12 and my name is Sam, more 12, Sam

In [42]:
string = 'hello'

In [43]:
string[0]

'h'

In [45]:
string[4]

'o'

In [48]:
string[0:]

'hello'

starting at 0: get everything after it

In [50]:
string[:3]

'hel'

get eveything up to, but not including index 3,

In [52]:
string[2:3]

'l'

In [53]:
# Lists

In [4]:
[1,2,3]

[1, 2, 3]

### A list in Python

In [55]:
['a', 'b', 'c']

['a', 'b', 'c']

In [8]:
my_list = ['a', 'b', 'c']

In [9]:
my_list.append('d')

In [10]:
my_list

['a', 'b', 'c', 'd']

In [11]:
my_list[0]

'a'

In [14]:
my_list[1:2]

['b']

In [15]:
my_list[0] = "NEW"

In [16]:
my_list

['NEW', 'b', 'c', 'd']

In [37]:
print(my_list)

['NEW', 2, 3]

### nested lists in python

In [36]:
nest = [ 1, 2, [3, 4 ], 5]

In [19]:
nest

[1, 2, [3, 4], 5]

In [21]:
nest[2]

[3, 4]

In [23]:
nest[2][1]

4

In [25]:
nest2 = [1,2,3, [4,5, ['target']]]

In [26]:
nest2

[1, 2, 3, [4, 5, ['target']]]

In [27]:
nest2[3]

[4, 5, ['target']]

In [28]:
nest2[3][2]

['target']

In [31]:
print(nest2[3][2][0])

target

part two of python crash course

### Dictionaries in python - can have nested lists and dicitionaries inside

create a dictionary in python with {} you have a key, then : then the value that corresponds with the key

In [6]:
d = {'key': 'value', 'key2': '123'}

In [7]:
d[0]

KeyError: 0

this doesnt work, you get KeyError because the values cannot be accesed like this, they instead mirror a hash table where you have a key and value pair

In [8]:
d['key']

'value'

In [9]:
d['key2']

'123'

In [10]:
d = { 'key': [1,2,3] }

In [11]:
d

{'key': [1, 2, 3]}

In [12]:
d['key']

[1, 2, 3]

then I can grab these items, because its off the list! not the key

In [13]:
d['key'][1]

2

In [14]:
d = {'k1' : {'innerKey': [1,2,3]}}

In [18]:
d['k1']['innerKey']

[1, 2, 3]

In [20]:
d['k1']['innerKey'][2]

3

### BOOLEANS

In [21]:
True

True

In [22]:
False

False

In [23]:
my_list = [1,2,3]

In [24]:
my_list[0]

1

In [25]:
tuple = (1,2,3)

In [26]:
tuple[1]

2

### Tuples - immutable

A tuple in python is similar to a list, you can access things the same with square notation.

In [29]:
my_list[0] = "NEW"

In [30]:
print(my_list)

['NEW', 2, 3]

In [32]:
tuple[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

#### tuples are immutable

tuples are immutable and do not support reassignment

### Sets in python - collection of unique elements

In [40]:
{1, 2, 3}

{1, 2, 3}

In [42]:
{1,1,1,1,2,2,2,2,3,3,3,3,}

{1, 2, 3}

**A set is defined by only unique items, there are no duplicates**

you can call set on a list, if you do this, it will grab the unique items for you

In [43]:
set([1,1,1,1,2,2,2,3,3,3,3])

{1, 2, 3}

In [44]:
{1,2,3}

{1, 2, 3}

In [46]:
s = {1,2,3}

In [47]:
s.add(5)

In [48]:
print(s)

{1, 2, 3, 5}

if you try to add a item already there, you won't get an error, but it wont be added

In [50]:
s.add(2)

In [51]:
print(s)

{1, 2, 3, 5}

### Comparison Operators

In [53]:
1 > 2

False

In [54]:
1 <2

True

In [55]:
1 <= 2

True

In [56]:
1 == 1

True

In [57]:
1 == 2

False

In [58]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-58-ecdac3dcabfd>, line 1)

you get an error as python thinks youre doing an assignment not a comparison

In [61]:
1 != 3

True

In [62]:
'hi' == 'bye'

False

In [63]:
'hi' != 'bye'

True

In [64]:
1 < 2 and 2 < 3

True

In [65]:
1 < 2 and 1 > 10

False

better to add parenthesis for readability

In [66]:
(1 < 2) and (1 > 10)

False

In [68]:
(1 < 2) or (2 > 3) or ( 1 == 1 )

True

In [71]:
True and False

False

In [72]:
True or False

True

### if elif and else statements

**in python we dont use brackets, we use whitespace**

In [79]:
if 1 <2:
    print('yep')

yep

In [84]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

second

what this does is prints the first true statement, you'll notice here that the middle does not get printed, even though its also true

### for loops and while loops

In [2]:
###

In [5]:
seq = [1,2,3,4,5]

In [6]:
for item in seq: 
    print(item)

1
2
3
4
5

In [7]:
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [8]:
i = 1 
while i < 5: 
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

if you accidentally enter an infinite loop in a loop, go to kernel up top and click restart

In [9]:
for x in seq: 
    print(x)

1
2
3
4
5

In [11]:
range(0,5)

range(0, 5)

In [13]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [14]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
x =[1,2,3,4]

In [26]:
out = []

for num in x: 
    out.append(num**2)

In [22]:
print(out)

[2, 4, 6, 8]

##### list comprehension helps with this.

list comprehension allows you to make your code more efficent for a for loop, when creating a list

In [28]:
[num**2 for num in x]

[1, 4, 9, 16]

In [29]:
out = [num ** 2 for num in x]

In [30]:
out

[1, 4, 9, 16]

// this is two ways of doing the same thing (on In[26] and In[29])

### functions

functions in python are defined by the keyword def

In [34]:
def my_func(param1):
    print(param1)

In [35]:
my_func('hello')

hello

In [36]:
def my_func(name):
    print('Hello ' +name)

In [42]:
my_func('Leanne')

Hello Leanne

##### Having defaults for functions

In [45]:
def my_other_func(name='Default name'):
    print('hello '+name)

In [46]:
my_other_func('jose')

hello jose

In [47]:
my_other_func()

hello Default name

##### if you have many parameters, you can name them out, this can be helpful

In [49]:
my_other_func(name="Tony~")

hello Tony~

##### if you forget the parenthesis, you do not execute the function, instead, you ask python, what is this... it will tell you it's a function

In [52]:
my_other_func

In [53]:
def square(num):
    return num**2

In [54]:
output = square(2)

In [55]:
output

4

##### functions can also have documentation strings with """ """

In [57]:
def square(num):
    """
    this is a function comment
    this function squares a number
    """
    return num**2

##### then when you click shift tab on the function name, it will tell you the functions definiton!!!!

In [59]:
range

range

##### can even do it with inbuilt python things, like above

### map and filter functions

In [61]:
seq = [1,2,3,4,5]

In [68]:
def times2(num):
    return num*2

In [69]:
map(times2, seq)

In [70]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [72]:
def times2(num): return num*2

In [73]:
times2(5)

10

this still works, having it all on one: line def times2(num): return num*2

#### we can use lambda expressions or anonymous functions to assist us and save code

In [77]:
lambda num: num*2

In [78]:
t = lambda num: num*2

In [79]:
t(6)

12

In [80]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]