In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 /2

0.5

2 ** 4 is 2 to the power of 4 2^4

In [8]:
2 ** 4

16

In [9]:
2 + 3 * 5 + 5

22

Use parethesis for order

In [11]:
(2 + 3) * (5 + 5)

50

In [12]:
5 % 2

1

modulo

In [13]:
var = 2

In [14]:
var

2

In [15]:
x = 2

In [16]:
y = 3

In [17]:
x + 2

4

In [18]:
x + x

4

In [20]:
x + x

4

In [22]:
x = x + x

In [23]:
x

8

reassigns x

In [24]:
12var = 12

SyntaxError: invalid syntax (<ipython-input-24-72e2c0241394>, line 1)

syntax error if variable name starts with number

In [25]:
this_is_the_var_12 = 12

correct python syntax for multi worded var name above

In [26]:
# Strings

comment above

In [27]:
'single quote'

'single quote'

In [29]:
"double quote string"

'double quote string'

In [30]:
x = 'hello'

In [31]:
x

'hello'

In [32]:
print(x)

hello

officially printing values in python

In [34]:
num = 12
name = 'Sam'

In [36]:
'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is Sam'

python will read format for order and interpolate it

In [37]:
print("'My number is {} and my name is {}'.format(num, name)")

'My number is {} and my name is {}'.format(num, name)

In [39]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [40]:
print('My number is {one} and my name is {two}'.format(one=num, two=name))

My number is 12 and my name is Sam

if there not in the original order you'd like... do the above

In [41]:
print('My number is {one} and my name is {two}, more {one}, {two}'.format(one=num, two=name))

My number is 12 and my name is Sam, more 12, Sam

In [42]:
string = 'hello'

In [43]:
string[0]

'h'

In [45]:
string[4]

'o'

In [48]:
string[0:]

'hello'

starting at 0: get everything after it

In [50]:
string[:3]

'hel'

get eveything up to, but not including index 3,

In [52]:
string[2:3]

'l'

In [53]:
# Lists

In [54]:
[1,2,3]

[1, 2, 3]

In [55]:
['a', 'b', 'c']

['a', 'b', 'c']

In [56]:
my_list = ['a', 'b', 'c']

In [57]:
my_list.append('d')

In [58]:
my_list

['a', 'b', 'c', 'd']